[tool.poetry]
name = "xarray-ome-ngff"
version = "1.1.1"
description = "xarray and ome-ngff"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
readme = "README.md"
packages = [{include = "xarray_ome_ngff", from="src"}]

[tool.poetry.dependencies]
python = "^3.9"
xarray = "^2023.2.0"
pydantic = "^1.10.4"
pydantic-ome-ngff = "^0.1.3"
pint = "^0.20.1"


[tool.poetry.group.dev.dependencies]
ome-zarr = "^0.6.1"
pytest = "^7.2.1"
pre-commit = "^3.0.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
