[tool.poetry]
name = "xarray-ome-ngff"
version = "1.2.1"
description = "xarray and ome-ngff"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
readme = "README.md"
packages = [{include = "xarray_ome_ngff", from="src"}]

[tool.poetry.dependencies]
python = "^3.9"
xarray = "^2023.2.0"
pydantic-ome-ngff = "^0.3.0"
pint = "^0.20.1"
pydantic = "^1.10.7"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
pre-commit = "^3.0.4"
mypy = "^1.1.1"
pytest-cov = "^4.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
